

.container {
    background-color:#efefef;
    height: 80vh;
    display: flex;
    color: rgb(18, 17, 17);
    }

    .sidebar {
      width: 25%;
      background-color: #efefef;
    }

    .menu {
      width: 254px;
      height: 100%;
      background-color: rgb(228, 228, 228);
      padding: 20px;
      border-radius: 10px;
      
    }

    .dashboard {
      width: 628px;
      flex: 1;
      padding: 20px;
      border-radius: 10px;
      background-color:rgb(228, 228, 228);
    }

.links {
    display:flex;
    flex-direction: column;
    /* gap: 20px; */
    align-items: left;
    /* padding-left: 5px; */
    padding-top: 10px;
}

.link {
    padding: 12px;
    border-radius: 4px;
}
.link:hover {
    background-color: rgb(174, 173, 173);
    
    color: white;
}